
.container {
  display: grid;
}


header {
  background-color: #03a3df;
  grid-column: 1 / span 8;
  grid-row: 1 / span 1;
  padding: 1em 1em 1em 4em;
  margin: -1em -1em 0em -1em;
}

section.main {
  grid-column: 2 / span 11;
  padding: 1em 4em 1em 4em;
  margin: -1em -1em 0em -1em;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2em;
}

div.box {
  padding: 1em 1em 1em 1em;
  width: 14em;
  margin-bottom: 1em;
  margin-right: 1em;
}


aside {
  background-color: #1b447f;
  grid-column: 1 / span 1;
  padding: 1em 3em 1em 4em;
  margin: 0em -1em 0em -1em;
}

nav {
  background-color: #03a3df;
  grid-column: 9 / span 4;
  grid-row: 1 / span 1;
  padding: 1em 4em 1em 1em;
  margin: -1em -1em 0em -1em;
  text-align: right;
}

footer {
  background-image: url(images/footerImage.jpg);
  position: relative;
  clear: both;
  overflow: hidden;

  grid-column: 1 / span 12;
  grid-row: auto;
  padding: 1em 4em 1em 4em;
  margin: -1em -1em 0em -1em;
}

section.footer-section {
  grid-column: 1 / span 4;
  grid-row: auto;
}

p {
  color: #444444;
  font-family: Arial, sans-serif;
  font-size: 17px;
}

p.light{
  color: white;
}

p.blue{
  color: #03a3df;
  line-height: 12px;
  margin-bottom: 30px;
}

h1 {
  color: #444444;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 40px;
}

h2 {
  color: #444444;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

h2.yellow {
  color: #ecb722;
}

h2.blue {
  color: #03a3df;
}

h3 {
  color: #444444;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 17px;
}

h3.nav-h3 {
  color: white;
}

h4.blue {
  text-transform: uppercase;
  color: #03a3df;
  font-size: 12px;
  line-height: 10px;
  margin-bottom: -5px;
}

q {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #03a3df;
  font-style: italic;
}

hr.yellow {
	border-color: #ecb722;
  border-style: solid;
}

hr.blue {
	border-color: #03a3df;
  border-style: solid;
}

hr.thick-blue {
	border-color: #03a3df;
  border-width: thick;
  border-style: solid;
}

a {
  color: #ecb722;
  font-family: Arial, sans-serif;
  margin: -20px -20px -20px -20px;
  padding: 20px 20px 20px 20px;
}

a.light {
  color: white;
  font-family: Arial, sans-serif;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

img.header-img {
  height: 4em;
}

img.footer-img {
  height: 4em;
  margin-top: 4em;
}

img.instructor-img {
  height: 150px;
}

.button {
  background-color: #ecb722;
  border: none;
  color: white;
  padding: 15px 30px;
  margin-left: 0px;
  text-align: center;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 17px;
}

strong {
  text-transform: uppercase;
  color: #ecb722;
  font-size: 14px;
}


.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}
